<div class="container">
    <footer class="footer">

        <div class="branding">
            <a href="/{{ page.lang }}/" class="logo branding__logo" aria-label="{{ 'home page' | i18n }}">
                {% include "logos/mimi-couture.svg" %}
            </a>
            <p class="branding__text">{{ settings[page.lang].general.siteDescription }}</p>
        </div>

        <div class="social-media">
            <p class="social-media__text">{{ "follow us" | i18n }}</p>
            <ul class="social-media__list">
                {% for item in settings[page.lang].socialMedia %}
                    <li>
                        <a class="social-media__link" href="{{ item.url }}" aria-label="{{ item.label }}">
                            {% set icon = "icons/" + item.label | lower + ".svg" %}
                            {% include icon %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <nav class="secondary-navigation" aria-label="secondary menu">
            <ul class="secondary-navigation__list">
                {% for item in settings[page.lang].secondaryNav %}
                    <li>
                        <a class="secondary-navigation__link" href="{{ item.url }}" {{ "aria-current=page" if page.url == item.url else "" }}>{{ item.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <p class="tradtrademark">© {% year %}
            {{ settings[page.lang].general.copyrightOwner }} {{ "all rights reserved" | i18n }}.</p>

    </footer>
</div>