<header class="header">
    <a class="skip-to-main" href="#main-content">{{ "skip to main content" | i18n }}</a>

    <a href="/{{ page.lang }}/" class="logo header__logo" aria-label="{{ 'home page' | i18n }}">
        {% include "logos/mimi-couture.svg" %}
    </a>

    <nav class="navigation" aria-label="{{ 'main menu' | i18n }}" id="navigation">
        <button id="menu-btn--close" class="btn navigation__btn" aria-label="{{ 'close menu' | i18n }}" aria-controls="navigation" aria-expanded="true">
            {% include "icons/close-menu.svg" %}
        </button>

        <ul class="navigation__list">
            {% for item in settings[page.lang].mainNav %}
                <li>
                    <a class="navigation__link" href="{{ item.url }}" {{ "aria-current=page" if page.url == item.url else "" }}>{{ item.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="btn-group">
        <a href="{{ settings[page.lang].mainCta.url }}" class="btn btn--primary header__cta">
            <span>{{ settings[page.lang].mainCta.label }}</span>
            {% include "icons/shop-cta.svg" %}
        </a>

        <button id="menu-btn--open" class="btn navigation__btn" aria-label="{{ 'open menu' | i18n }}" aria-controls="navigation" aria-expanded="false">
            {% include "icons/open-menu.svg" %}
        </button>
    </div>

</header>