<form class="form form--primary" action="" method="post" aria-label="Newsletter subscription form">
    <p class="form__text">Subscribe to our newsletter!</p>
    <div class="form__field">
        <label for="email">Email:</label>
        <input class="form__input" type="email" autocomplete="email" id="email" name="email" required aria-required="true" >
    </div>
    <div class="form__field form__field--horizontal">
        <input type="checkbox" id="agreement" name="agreement" required aria-required="true">
        <label for="agreement">I agree to the <a href="#">terms and conditions</a>.</label>
    </div>
    <button class="btn" type="submit">Subscribe</button>
</form>
