---
layout: base.njk
pagination:
    data: posts.all
    size: 1
    alias: post
    generatePageOnEmptyData: true
permalink: "/{{ post.slug }}/"
eleventyComputed:
    title: "{{ post.metaTitle or post.title }}"
    description: "{{ post.metaDescription or post.excerpt }}"
---
{% include "components/post.njk" %}