<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or settings[page.lang].general.siteTitle }}</title>
        <meta name="description" content="{{ description or settings[page.lang].general.siteDescription }}">
        <style>
            {% include "css/base.css" %}
            {% include "css/style.css" %}
        </style>
    </head>
    <body>
        {% include "components/header.njk" %}

        {% include "components/main.njk" %}

        {% include "components/footer.njk" %}
        <script>
            {% include "js/script.js" %}
        </script>
    </body>
</html>