---
layout: base.njk
pagination:
    data: pages
    size: 1
    alias: page
    generatePageOnEmptyData: true
permalink: "/{{ page.slug }}/"
eleventyComputed:
    title: "{{ page.metaTitle or page.title }}"
    description: "{{ page.metaDescription }}"
---
{% include "components/page.njk" %}